ranquogen.json
[
    {
        "id": "ce9834f536ebfce3",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7cd8a16a651b64f2",
        "type": "inject",
        "z": "ce9834f536ebfce3",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 160,
        "y": 160,
        "wires": [
            [
                "678e02f150980aef"
            ]
        ]
    },
    {
        "id": "678e02f150980aef",
        "type": "http request",
        "z": "ce9834f536ebfce3",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.api-ninjas.com/v1/quotes?category=happiness&X-Api-Key=CuZnOZ40k9xecP3alB6Gg1NZxg1mZY5oaMduNqZL",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 330,
        "y": 160,
        "wires": [
            [
                "0fa587fd4dd34a51"
            ]
        ]
    },
    {
        "id": "0fa587fd4dd34a51",
        "type": "debug",
        "z": "ce9834f536ebfce3",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 160,
        "wires": []
    }
]